<div id="loginContainer" class="w3-container w3-center" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-green">
        <b>SalCalc</b>
    </h1>
    <div class="w3-third center">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <table class="w3-table w3-bordered w3-striped">
                <tr>
                    <th class="w3-green w3-xlarge w3-center" colspan="2">Login</th>
                </tr>
                <tr>
                    <th>
                        <label>Username</label>
                        <span class="w3-text-red" *ngIf="loginForm.controls['username'].validator && loginForm.controls['username'].validator('').required">*</span>
                    </th>
                    <td>
                        <input type="text" formControlName="username" class="w3-input-inline w3-border" [ngClass]="{'hasError':!loginForm.controls['username'].valid, 'isCorrect':loginForm.controls['username'].valid}"
                            autofocus>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Password</label>
                        <span class="w3-text-red" *ngIf="loginForm.controls['password'].validator && loginForm.controls['password'].validator('').required">*</span>
                        <td>
                            <input type="password" formControlName="password" class="w3-input-inline w3-border" [ngClass]="{'hasError':!loginForm.controls['password'].valid, 'isCorrect':loginForm.controls['password'].valid}"> </td>
                </tr>
                <tr class="w3-green">
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <td class="w3-center" colspan="2">
                        <button class="w3-button w3-border w3-border-green" [disabled]="!loginForm.valid">Login</button>
                        <button class="w3-button w3-border w3-border-green" (click)="resetLoginForm($event, loginForm)">Reset</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>