hr.separator {
    width: 50px;
    border: 5px solid #4CAF50;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hasError {
    background-color: red;
}

#newPersonData {
    width: 600px;
}