<div id="personContainer" class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-green">
        <b>Person</b>
    </h1>
    <hr class="separator w3-round">

    <div *ngIf="!showNewPersonForm">
        <button class="w3-button w3-margin-bottom w3-border w3-border-green" (click)="preparePerson();">Add new Person</button>
    </div>

    <div *ngIf="showNewPersonForm">
        <form [formGroup]="personForm" (ngSubmit)="createPerson($event, personForm)">
            <div class="w3-section-small">
                <label>Surname</label><span class="w3-text-red" *ngIf="personForm.controls['surname'].validator && personForm.controls['surname'].validator('').required">*</span>
                <input type="text" class="w3-input-inline w3-border" formControlName="surname" [ngClass]="{'hasError':!personForm.controls['surname'].valid, 'isCorrect':personForm.controls['surname'].valid}" autofocus>
            </div>
            <div class="w3-section-small">
                <label>Name</label><span class="w3-text-red" *ngIf="personForm.controls['name'].validator && personForm.controls['name'].validator('').required">*</span>
                <input type="text" class="w3-input-inline w3-border" formControlName="name" [ngClass]="{'hasError':!personForm.controls['name'].valid, 'isCorrect':personForm.controls['name'].valid}">
            </div>
            <div class="w3-section-small">
                <label>Birthdate</label><span class="w3-text-red" *ngIf="personForm.controls['birthdate'].validator && personForm.controls['birthdate'].validator('').required">*</span>
                <input type="date" class="w3-input-inline w3-border" formControlName="birthdate" [ngClass]="{'hasError':!personForm.controls['birthdate'].valid, 'isCorrect':personForm.controls['birthdate'].valid}">
            </div>
            <button class="w3-button w3-border w3-border-green" [disabled]="!personForm.valid">Add</button>
            <button class="w3-button w3-border w3-border-green" (click)="resetPersonForm($event, personForm)">Reset</button>
            <button class="w3-button w3-border w3-border-green" (click)="cancelPersonForm($event, personForm)">Cancel</button>
            <hr class="separator w3-round">
        </form>
    </div>

    <div class="w3-half">
        <table class="w3-table w3-bordered w3-striped">
            <tr>
                <th class="w3-green w3-xlarge w3-center" colspan="4">Persons</th>
            </tr>
            <tr class="w3-green">
                <th></th>
                <th>Surname</th>
                <th>Name</th>
                <th>Birthdate</th>
            </tr>
            <tr id="row_{{i}}" *ngFor="let person of persons; let i = index">
                <td class="w3-cell-middle buttons-area">
                    <button class="w3-button w3-padding-xsmall" (click)="showPersonDetails($event, person);">
                        <fa-icon [icon]="faAddressCard"></fa-icon>
                    </button>
                    <button class="w3-button w3-padding-xsmall" (click)="deletePerson($event, person);">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
                <td *ngIf="!person.showDetails" class="w3-cell-middle">{{person.surname}}</td>
                <td *ngIf="!person.showDetails" class="w3-cell-middle">{{person.name}}</td>
                <td *ngIf="!person.showDetails" class="w3-cell-middle">{{person.birthdate | date: "dd-MM-yyyy"}}</td>
                <td *ngIf="person.showDetails" class="w3-cell-middle" colspan="3">
                    <app-person-details [person]="person" [personsService]="personsService"></app-person-details>
                </td>
            </tr>
        </table>
    </div>
</div>